<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Story</title>
</head>
<body>
    {% extends "base.html" %}

    {% block title %}Add Story{% endblock %}

    {% block content %}
    <h2 class="title">Add Story</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-custom w-100">Add Story</button>
    </form>
    <a href="{% url 'story_list' %}" class="link">Back to story list</a>
    {% endblock %}
</body>
</html>