<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Share</title>
</head>
<body>
    {% extends "base.html" %}

    {% block title %}Story Share{% endblock %}

    {% block content %}
    <h1 class="title">StoryShare - Read & Share Stories</h1>
    <a href="{% url 'signup' %}" class="link">Sign Up</a> | <a href="{% url 'login' %}" class="link">Login</a>
    <hr>
    {% if user.is_authenticated %}
    <h1>Welcome, {{ user.username }}!</h1>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-custom">Log Out</button>
    </form>
    <hr>
    <a href="{% url 'add_story' %}" class="link">Add Story</a>
    <h2>Stories</h2>
    {% for story in stories %}
        <h2><a href="{% url 'story_detail' story.id%}">{{ story.title }}</a></h2>
        <p><strong>By: {{ story.author }}</strong> | {{story.created_at}}</p>
        <p>{{ story.content|truncatewords:50 }}</p>
        <hr>
    {% endfor %}
    {% endif %}
    {% endblock %}
</body>
</html>